/**
 *  Global tag styles
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 60px;

    background-color: #e7e7e7;
}


/**
 *  Navigation
 */
.navbar-default .navbar-toggle .icon-bar,
nav a:hover,
nav .glyphicon {
    color: #3399ff !important;
}


/**
 *  Station components
 */
.station {
    height: 81px;
}

.station-logo {
    width: 64px;
}

.station-desc {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0;
}

.station-genre {
    margin-bottom: 0;
}


/**
 *  WhatStation images
 */
#ws-logo {
    height: 100%;
    margin-top: -7px;
}

#ws-logo-full {
    width: 80%;

    margin-top: 20px;
    margin-bottom: 20px;
}


/**
 *  Footer
 */
.footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 30px;

    background-color: #f8f8f8;
}

.footer .container .text-muted {
    margin: 5px 0;
}
